.ourServicesHero {
    /* background-color: rgb(22, 110, 110); */
    /* height: 100vh; */
}

.ourServicesHeroLeft {
    padding-top: 60px;
}

.herojumbotron {
    padding: 0;
    border-radius: inherit;
}

.ourServicesHeroRight {
    width: 100%;
    height: 100%;
}

.ourServicesHeroRight img {
    margin-top: 75px;
    width: 100%;
    /* object-fit: none; */
}

.herojumbotron .herojumbotronTitle {
    font-family: Montserrat;
    visibility: visible;
    text-align: left;
    line-height: 44px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 48px;
    border-color: rgb(141, 141, 141);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: #dc3545;
}

.herojumbotron .lead {
    font-family: Montserrat;
    visibility: visible;
    text-align: left;
    line-height: 29px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 18px;
    border-color: rgb(141, 141, 141);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(141, 141, 141);
    margin-top: 30px;
}

.herojumbotron h1 {
    font-weight: 700;
    margin-top: 10px;
}

.learnMoreBtn {
    text-align: left;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 700;
    border-color: rgb(255, 255, 255);
    border-style: none;
    margin: 0px;
    border-radius: 100px;
    padding: 15px 45px;
    transition: 0.5s all ease-in-out!important;
    background-color: #fe5043!important;
    font-size: 13px;
    color: #fff!important;
    position: relative;
    margin-top: 20px;
}

/* .learnMoreBtn::after{
position: absolute;

} */

.learnMoreBtn:hover {
    letter-spacing: 3px;
}

/* our service hero style end */

/* main styles  start*/

.ar-app-development {
    padding: 90px 0px;
}

.showcaseVideo {
    border: 2px solid black;
}

.ar-app-container .ar-app-container-content {
    color: #626262;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif;
    margin-bottom: 30px;
}

.ar-app-container .ar-app-container-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    color: #dd081de8;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    position: relative;
    text-transform: uppercase;
    line-height: 45px !important;
    margin-bottom: 30px;
}

.ourSerivces h1 {
    color: #393939;
    font: 700 3rem/3.5rem "Raleway", sans-serif;
    text-align: center;
}

.knowMoreBtn {
    display: inline-block;
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
    border: 0.125rem solid #fe5043;
    border-radius: 2rem;
    background-color: #fe5043;
    color: white;
    font: 700 0.75rem/0 "Raleway", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
    text-decoration: none;
}

.knowMoreBtn:hover {
    text-decoration: none;
    color: #fe5043;
    background-color: white;
}

.ourSerivcesLeft p {
    color: #626262;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

.ourSerivcesLeft h4 {
    color: #272f43;
    font-size: 30px;
    border-bottom: solid #ddd 1px;
    margin-bottom: 40px;
    padding-bottom: 25px;
    margin-top: 50px;
    font: 700 1.375rem/1.875rem "Raleway", sans-serif;
}

.ourSerivces {
    position: relative;
    /* padding-bottom: 90px; */
    /* background-color: #f6f6f6; */
}

.what-we-do {
    position: relative;
    padding: 90px 0px;
    background-color: #f6f6f6;
}

.what-we-do::before {
    width: 92px;
    height: 30px;
    background: url(./assets/images/das_bg.png);
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 100px;
    right: 70px;
}

.what-we-do::after {
    width: 92px;
    height: 30px;
    background: url(./assets/images/das_bg.png);
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 100px;
    left: 70px;
}

.what-we-do h1 {
    color: #393939;
    font: 700 3rem/3.5rem "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 45px;
}

.what-we-do-card {
    margin-bottom: 50px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .10);
    padding: 20px;
    text-align: center;
    transition: ease all 0.5s;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.what-we-do-card:hover {
    background-color: #dd081de8;
    color: white;
}

.what-we-do-card .what-we-do-card-img-2 {
    display: none;
}

.what-we-do-card:hover .what-we-do-card-img-2 {
    display: block;
    margin: auto;
}

.what-we-do-card:hover .what-we-do-card-img-1 {
    display: none;
}

.what-we-do-card img {
    width: 50px;
}

.what-we-do-card h4 {
    text-transform: uppercase;
    font-size: 20px;
    color: #393939;
    font: 700 1.375rem/1.875rem "Raleway", sans-serif;
    margin-top: 8px;
}

.what-we-do-card:hover h4 {
    color: white;
}

.what-we-do-card p {
    color: #626262;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    /* height: 200px; */
    word-wrap: none;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif
}

.what-we-do-card:hover p {
    color: white;
}

.aboutServiceTitle {
    color: #393939;
    font: 700 1.75rem/2rem "Raleway", sans-serif;
    position: relative;
    margin-top: 10%;
}

.aboutService hr {
    width: 70px;
    background-color: #00bfd8;
    border: 2px solid #00bfd8;
}

.aboutService h5 {
    color: #393939;
    font: 700 1.125rem/1.625rem "Raleway", sans-serif;
}

.aboutServiceContent {
    color: #626262;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

.aboutServiceCheckList {
    list-style: none;
}

.aboutServiceCheckList li {
    text-transform: capitalize;
    color: #626262;
    margin-bottom: 5px;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

/* main style end */